*{
margin: 0; 
padding: 0;
}
body{
min-height: 100%;
margin: auto; 
background-color: blanchedalmond;
}
header{
width: 100%; 
height: 150px; 
background-color: aquamarine;
}
main{
width: 100%;
height: 700px;
background-color: brown;
}
footer{
width: 100%;
height: 50px;
background-color: blueviolet;
}
section#logo {
    float: left;
}
section#name {
    width: 80%;
    float: left;
    font-size: 100px;
    text-align: center;
}    
section#pasteles {
    float: left;
    width: 50%;
    height: 200px;
    background-color: rgb(0, 245, 212);
}
section#pedidos {
    float: left;
    width: 50%;
    height: 200px;
    background-color: rgb(60, 199, 5);
}
figure {

    border: thin #c0c0c0 solid;
    display: inline-block;
    padding: 5px;
    max-width: 250px;
    margin: auto;
}
img {
    max-width: 250px;
    max-height: 150px;
}
figcaption {
    background-color: #222;
    color: #fff;
    font: italic smaller sans-serif;
    padding: 3px;
    text-align: center;
}